{
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte"],
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": "**/*.php",
			"options": {
				"singleQuote": true,
				"printWidth": 160
			}
		}
	],
	"ignore": ["node_modules", "public/build", "package-lock.json"]
}
