@import "tailwindcss";

@theme {
	--animate-*: initial;
	--animate-carousel-show: carouselShow 750ms ease-in-out 300ms forwards;
	--animate-navigation-menu-enter-from-right: navigationMenuEnterFromRight
		300ms ease forwards;
	--animate-navigation-menu-enter-from-left: navigationMenuEnterFromLeft 300ms
		ease forwards;
	--animate-navigation-menu-exit-to-right: navigationMenuExitToRight 300ms
		ease forwards;
	--animate-navigation-menu-exit-to-left: navigationMenuExitToLeft 300ms ease
		forwards;
	--animate-navigation-menu-enter-from-bottom: navigationMenuEnterFromBottom
		300ms ease forwards;
	--animate-navigation-menu-enter-from-top: navigationMenuEnterFromTop 300ms
		ease forwards;
	--animate-navigation-menu-exit-to-bottom: navigationMenuExitToBottom 300ms
		ease forwards;
	--animate-navigation-menu-exit-to-top: navigationMenuExitToTop 300ms ease
		forwards;

	--color-neutral-50: oklch(0.985 0.001 106.423);
	--color-neutral-100: oklch(0.97 0.001 106.424);
	--color-neutral-200: oklch(0.923 0.003 48.717);
	--color-neutral-300: oklch(0.869 0.005 56.366);
	--color-neutral-400: oklch(0.709 0.01 56.259);
	--color-neutral-500: oklch(0.553 0.013 58.071);
	--color-neutral-600: oklch(0.444 0.011 73.639);
	--color-neutral-700: oklch(0.374 0.01 67.558);
	--color-neutral-800: oklch(0.268 0.007 34.298);
	--color-neutral-900: oklch(0.216 0.006 56.043);
	--color-neutral-950: oklch(0.147 0.004 49.25);

	--color-primary-50: oklch(0.98 0.016 73.684);
	--color-primary-100: oklch(0.954 0.038 75.164);
	--color-primary-200: oklch(0.901 0.076 70.697);
	--color-primary-300: oklch(0.837 0.128 66.29);
	--color-primary-400: oklch(0.75 0.183 55.934);
	--color-primary-500: oklch(0.705 0.213 47.604);
	--color-primary-600: oklch(0.646 0.222 41.116);
	--color-primary-700: oklch(0.553 0.195 38.402);
	--color-primary-800: oklch(0.47 0.157 37.304);
	--color-primary-900: oklch(0.408 0.123 38.172);
	--color-primary-950: oklch(0.266 0.079 36.259);

	--breakpoint-2xs: 384px;
	--breakpoint-xs: 512px;

	@keyframes carouselShow {
		from {
			filter: blur(5px);
			transform: translateY(calc(-50% + 75px));
		}
		to {
			opacity: 1;
			filter: blur(0);
		}
	}
	@keyframes navigationMenuEnterFromRight {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes navigationMenuEnterFromLeft {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes navigationMenuExitToRight {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}
	@keyframes navigationMenuExitToLeft {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}
	@keyframes navigationMenuEnterFromBottom {
		from {
			opacity: 0;
			transform: translateY(200px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes navigationMenuEnterFromTop {
		from {
			opacity: 0;
			transform: translateY(-200px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes navigationMenuExitToBottom {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(200px);
		}
	}
	@keyframes navigationMenuExitToTop {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-200px);
		}
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

body {
	@apply bg-neutral-800 p-5 text-neutral-100;
}
